* {
    background-color: black;
}
header {
    border: 5px solid orange;
    border-radius: 5px;
    background-color: black;
}
header h1 {
    font-family: 'Pacifico';
    font-size: 2em;
    font-weight: 400;
    color: aliceblue;
    text-align: center;
    margin: 2em;
}
.search-container {
    text-align: center;
    color: white;
}
input {
    background-color: white;
    color: black;
    border-radius: 20px;
}
body{
    background-color: black;
    justify-content: center;
}
#results {
    gap: 40px;
    width: 100vw;
    height: 100vh;
    margin-top: 20px;
}

#results div {
    border: none;
    width: 220px; 
    border-radius: 30px;
}

#results div p {
    text-align: center;
    color: orange;
    font-family: Helvetica, sans-serif;
}

@media (max-width:800px) {
    body {
        overflow: hidden;
        overflow-y: scroll;
    }

    
}